# NPM_TOKENはCLIから設定
# see https://docs.gitlab.com/ee/user/packages/npm_registry/index.html#publishing-a-package-via-the-command-line-1
@ist-tech:registry=https://i-studio.commits.jp/api/v4/projects/2409/packages/npm/
//i-studio.commits.jp/api/v4/projects/2409/packages/npm/:_authToken="${NPM_TOKEN}"
