extend /_layouts/_default

block vars
  -
    id = 'front_page'
    page = {
      language: 'ja',
      id: id,
      categories: [],
      path: `/`,
    }

    moduleName = id

    texts = [
      'T',
      'O',
      'F',
      'U',
      'P',
    ]

block main
  +soundPopUp()
  +section(page.id)(data-module=module(id))
    .text
      each text in texts
        span
          span(data-text=text)!=text
    canvas
