// *** pages
// *** particlemovie
.particle_movie
  width 100dvw
  height 100dvh

  &__inner
  canvas
    position absolute
    top 0
    left 0

  &__inner
    z-index 0
    width 100%
    height 100%

  video
    width 100%
    height 100%
    object-fit cover
    transition opacity .3s ease
    filter grayscale(1)

  canvas
    z-index 1
    opacity 1
    transform scale(-1, 1)
    filter brightness(0.5)
